/* Apply an external styling to a paragraph tag. */
#p3 {
  color: rgb(190, 155, 249);
}

/* Change font-family and font size using universal selector */
* {
  font-family: "Calibri", monospace;
  font-size: 14px;
}

/* Change the font-size of h1 tags using a type selector */
h1 {
  font-size: 48px;
}

/* Change the text to all uppercase letters for h2 tags using an id selector. */
#upper {
  text-transform: uppercase;
}

/* Change the background colors of the languages to be learn list items using a class selectors. */
.language {
  background-color: coral;
}

/* Change the border of the tools to be used list items using a attribute selectors. */
li[data-category="tool"] {
  border: 1px solid rgb(130, 132, 235);
  width: 90%;
}

/* Change the list style type of the other things to be learned list using an adjacent sibling selector. */
img + ul {
  list-style-type: none;
}

/* Change the dimensions of the image tag using a descendant selector. */
main img {
  height: 100px;
  width: 100px;
  border-radius: 124px;
}

/* Change the alignment of the last paragraph using a generic sibling selector. */
ul ~ p {
  text-align: center;
}

/* Change the letter spacing of the other things to be learned list items using a child selector. */
ul > li {
  letter-spacing: 5px;
}
